    body{
        background-color: aqua;
    }
    .box1{
        background-color: red;
    }
    .box2{
        background-color: rgb(64, 184, 146);
    }
    .box3{
        background-color: rgb(179, 255, 0);
    }
    span{
        background-color: blueviolet;
    }