    #first{
        background-color: aquamarine;
    }
    #second{
        background-color: blueviolet;
        color: #f8f8f8;
    }   
    h1{
    color: rgb(255, 0, 0);
    }
    .blue{
    background-color: rgb(136, 73, 134);
    color: rgb(255, 255, 255);
    }
    *{
        margin: 0;
        padding: 0;
    }